<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sidian.dao.IMyBatisDao">

	<resultMap type="map" id="map">

	</resultMap>

	<resultMap type="entity" id="entity">
	</resultMap>
	<parameterMap type="String" id="string"></parameterMap>


	<select id="countBySql" resultType="int">
		${_parameter}
	</select>

	<update id="update">
		${_parameter}
	</update>

	<select id="listBySql" resultMap="map" parameterMap="string">
		${_parameter}
	</select>


	<insert id="insert">
		${_parameter}
	</insert>


	<delete id="delete">
		${_parameter}
	</delete>

</mapper>